.event-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* İçerikleri sol tarafa hizala */
    padding: 60px;
    max-width: 1200px;
    margin: auto;
  }
  
  .event-image img {
    width: 700px; /* Resmin genişliğini ayarla */
    height: auto;
    border-radius: 10px;
    margin-right: 0 px; /* Sağdaki bilgi bölümü ile arasındaki boşluğu ayarla */
  }
  
  .event-info {
    /* Eğer bilgi bölümü hala çok sağda ise bu değeri artırabilirsiniz */
    margin-left: 150px; /* Sağdaki bilgi bölümü ile arasındaki boşluğu ayarla */
    font-family: Segoe UI, sans-serif;
  }
  
  .event-info h2 {
    font-size: 24px; /* Or the size you prefer */
    color: #333; /* Or any color of your choice */
  }
  
  .event-info p {
    font-size: 18px; /* Adjust the size as needed */
  }
  
  button {
    background-color: #007BFF; /* Choose a color that suits your design */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }


/* Önceki CSS stilinizin devamı... */

.event-description {
    margin-top: 0 px;
    padding: 0 15px;
    text-align: justify;
    font-size: 20px;
    color: #333;
    max-width: 800px; 
    margin-left: 170px; 
    margin-right: auto; /* Metni sağa kaydırmak için kullanın, bu değer arttıkça metin sağa doğru kayar */
  }
